@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Home {
    height: 87vh;
    color: white;
    /* border: 1px solid red; */
    padding-top: 10vh;
}

.Home-logo {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.Home-logo img{
    width: 800px;
    height: 309.5px;
    /* border: 1px solid red; */
}

.Home-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    line-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.9em;
    /* border: 1px solid red; */
}

.Home-Accomodation, .Home-Passes {
    color: white;
    width: 100%;
    height: 50px;
    /* margin-top: 7.5vh; */
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid red; */
}

.Home-Accomodation div, .Home-Passes div {
    width: 250px;
    border-radius: 0 50px 50px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: 1px solid #881487;
    text-align: right;
}

.Home-CA {
    color: white;
    width: 100%;
    height: 50px;
    /* margin-top: 7.5vh; */
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid red; */
}

.Home-CA div {
    width: 250px;
    float: right;
    border-radius: 50px 0 0 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: 1px solid #881487;
}

.Home-social-media {
    color: #881487;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    /* border: 1px solid red; */
    margin: 7.5vh;
}

.Home-social-media div{
    cursor: pointer;
}

@media screen and (max-width: 940px) {
    .Home-logo img {
        width: 700px;
        height: 240px;
    }

    .Home-Accomodation div, .Home-Passes div {
        font-size: 23px;
    }

    .Home-CA div {
        font-size: 23px;
    }

    .Home-text {
        font-size: 20px;
    }

    .Home {
        padding-top: 7.5vh;
    }
}

@media screen and (max-width: 700px) {
    .Home-logo img {
        width: 500px;
        height: 150px;
    }

    .Home-text {
        font-size: 15px;
    }

    .Home-CA {
        height: 40px;
    }

    .Home-CA div {
        width: 200px;
        font-size: 23px;
    }
}

@media screen and (max-width: 540px) {
    .Home-logo img {
        width: 400px;
        height: 150px;
    }

    .Home-text {
        font-size: 12px;
    }

    .Home-Accomodation div, .Home-Passes div {
        font-size: 19px;
    }

    .Home-CA {
        margin-top: 2.5vh;
    }

    .Home-Accomodation, .Home-Passes {
        margin-top: 5vh;
    }
    .Home-CA {
        height: 35px;
    }

    .Home-CA div {
        width: 250px;
        font-size: 19px;
        border-radius: 0 50px 50px 0;
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .Home-logo img {
        width: 300px;
        height: 120px;
    }

    .Home-CA {
        margin-top: 3vh;
    }
    
    .Home-CA div {
        width: 175px;
    border-radius: 0 50px 50px 0;
        float: left;
    }

    .Home-Accomodation, .Home-Passes {
        margin-top: 6vh;
    }

    .Home-Accomodation div {
        width: 175px;
    }

    .Home-Passes div {
        width: 175px;
    }
}