.Event-Music {
    color: white;
    height: 98vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

button.rec-dot {
    visibility: hidden;
}