.Event-Dance {
    color: white;
    height: 90vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

button.rec-dot {
    visibility: hidden;
}

.details div{
    /* border: 1px solid red; */
    margin-top: 5vh;
}

img {
    height: 270px;
}

@media screen and (max-width: 450px) {
    .details {
        display: block;
    }

    .details div {
        margin-top: 5vh;
    }
}

@media screen and (max-width: 400px) {
    img {
        height: 200px;
    }
}