@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.Sponsers {
    display: block;
    height: 150vh;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: center;
    padding-top: 12.5vh;
}

.Sponsers-heading {
    text-align: center;
    font-family: 'Work Sans';
    font-size: 70px;
    margin-bottom: 5vh;
}

.Sponsers-slider-headings {
    text-align: center;
    margin-bottom: 2.5vh;
    font-size: 21px;
    font-family: 'Work Sans';
}

.Sponsers-social-media {
    color: #881487;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    /* border: 1px solid red; */
    margin-top: 2.5vh;
}

.Sponsers-social-media div{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .Sponsers-heading {
        font-size: 60px;
    }
}

@media screen and (max-width: 810px) {
    .Sponsers-heading {
        font-size: 50px;
    }
}