.Event-LiteraryArts {
    color: white;
    height: 90vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.details {
    display: 'flex'
}

@media screen and (max-width: 450px) {
    .details {
        display: block;
    }

    .details div {
        margin-top: 5vh;
    }
}